.semiCircleChart{


        width:40vw;height:20vw

}
.geoMapChart{
width: 50vw; height: 30vw

    

}

@media only screen and (max-width: 1200px) {
    .semiCircleChart{

        width:65vw;height:40vw
    }
}
@media only screen and (max-width: 767px) {
    .semiCircleChart{

        width:70vw;height:80vw
    }
    .geoMapChart{
width: 80vw; height: 200px
        
    }
}

