#table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: white;
  }
  
  #table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 10px;
    column-width: 40px;
    height: 80px !important;
    max-width: 100px;
    text-overflow: ellipsis;   
    text-align: left; 
  }
 
  #table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #table tr:hover {
    background-color: #ddd;
  }
  
  #table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }

  #table p {
    width: 200px;
    color: black;
  }

  #pdf {
    background-color: white;
    padding: 8px;
    width: 842px;
    height: auto;
    margin-left: 5px;
  }

  .filterhead {
    justify-content: center;
    display: flex;
  }

  .subfilt {
    border-top: 2px solid gray;
    padding-top: 20px;
    padding-bottom: 20px;
     margin-top: 20px;
  }

  .ant-btn.ant-btn-primary {
    background-color: rgba(72,41,163,255);
    border-color: rgba(72,41,163,255);
    color: white;
  }

  .ant-btn.ant-btn-primary:hover {
    background-color: #5a3eac;
    border-color: #5a3eac;
  }

  .ant-btn.ant-btn-default:hover {
    background-color: #5a3eac;
    color: white;
    border-color: #5a3eac;
  }

  .ant-btn.ant-btn-primary svg {
    color: white;
  }
 
.ant-modal-close-x svg {
  background-color: transparent;
  color: rgba(72,41,163,255);
}

.ant-modal-close-x svg:hover {
  color: #5a3eac;
  
}

.ant-select-selector {
  display: block;
  padding-right: 50px;
}

.ant-select.ant-select-multiple.ant-select-show-search {
  display: block;
  padding: 5px;
  width: fit-content;
  min-width: 150px;
}

.ant-switch.ant-switch-checked:hover {
  background-color: #5a3eac;
}

.ant-switch.ant-switch-checked {
  background-color: rgba(48,48,48,255);
}

.main.fade-in button.ant-switch:hover {
  background-color: #5a3eac;
  background-image: none;
}
 
.DownloadPdfModal{
    width: 900px !important;
    height: auto;

      .ant-modal-title {
       text-align: center;
       font-size: 20px;
      }

      .ant-modal-body{
        // padding-top: 50px;
        height: 90%;
        overflow-y: scroll;

        .ant-checkbox-wrapper {
          padding-right: 3px;
          padding-bottom: 5px;
        }
      }
      .ant-modal-footer{
        height: 10%;
      }
    
  }