.pdfDownladMain{
    background-color: #252D3A;
    padding: 24px;
    border-radius: 10px;
    height:88vh;

    .pageTitle{
        font-weight: bold;
        margin-right: 12px;
        font-size: 16px;
    }
}

.pdfDownloadCountryBox{
    display: flex;
    flex-direction: column;
    width: 25%;
    justify-content: flex-start;
    height: 60%;
    overflow-y: scroll;

    .totalDownloadBox{
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        margin-top: 0;
        .totalDownloadBoxTitle{
            font-weight: bold;
            font-size: 18px;
            padding-right: 12px;
        }
    }

    .downloadbyCountry{
        width: 100%;
        display: flex;
        justify-content: space-between;}
}

.textWithProgressBar{
    display: flex;
    flex-direction: column;
    padding-right: 12px;

    .progressBar{
        width: 100%;
        height: 5px;
        background-color: #191F28;
        border-radius: 71.5px;
        .progress{
            height: 5px;
            background-color: #4829A3;
            border-radius: 71.5px;

        }
    }
}

.semiPieChartContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.mapTitle{
    font-size: 16px;
}

.spinnerDownloadPdf{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 59vw;
    height: 20vw;
}

.selectButton {
    float: right;
    width: 15%;
    color: rgb(0, 0, 0);
}

.chartsGeneral {
    display: flex;
    flex-direction: row;
    margin-top: 26px;
}

.chartsChildren {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}


@media only screen and (max-width: 767px) {

    
    .pdfDownloadCountryBox{
        width: 100%;
        .totalDownloadBox{
            margin-top: 12px;
            margin-bottom: 12px;
        }
    }

    .selectButton {
        float: right;
        width: 45%;
    }

    .chartsGeneral {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .chartsChildren {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

}

