.layout-title {
    text-align: center;
    color: #626262;
    font-size: 30px;
    letter-spacing: -0.04em;
}

.generalBar {
    max-width: 408px;
    margin: auto;
}

.logo {
    margin-bottom: 26px;
    width: 100%;
}