.mainVisitBox {
    flex-direction: row;
    align-items: center;
}

.visitPieBox {
    width: 55%;
}

.visitTextBox {
    width: 100%;
    border-top: 1px solid gray;
    padding: 24px;
    height: 300px;
    overflow-y: scroll;

}

.rightColBox{
    padding-top: 16px;
    width: 30%;
    height: 100%;
    padding: 16px;
}

.totalTextBox {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-size: 1.5vw;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    color: black !important;
    font-weight: bold;
}


@media only screen and (max-width: 767px) {

    .mainVisitBox {
        flex-direction: column;
    }

    .visitPieBox {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .visitTextBox {
        width: 100%;
        padding: 12px;
        height: 200px;
    }

    .visitPieChart {
        width: 100% !important;
        height: auto !important;
    }

    .rightColBox{
        width: 80%;
    }

    .totalTextBox {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        font-size: 16px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }


}