.visitStatsMain {
    background-color: #252d3a;
    border-radius: 10px;
    padding: 24px;

    .visitStatsPageTitle {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 26px;
        gap: 0px;
         .pageTitle {
            font-size: 16px;
            font-weight: bold;
        }
    }
}

.mainVisitBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.visitPieBox {
    width: auto;
    flex-direction: row;
}

.visitTextBox {
    width: 100%;
    padding-right: 12px;
    height: 450px;
    overflow-y: scroll;

    .visitSumBox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 24px;
    }
}

.rightColBox {
    width: 25%;
    height: 60%;
}

.totalTextBox {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-size: 1.5vw;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    color: black !important;
    font-weight: bold;
}

.spinner {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 750px;
}

@media only screen and (max-width: 767px) {
    .visitStatsMain {
        padding: 12px;
        .visitStatsPageTitle {
            margin-bottom: 12px;
            gap: 12px;
             .pageTitle {
                font-size: 16px;
                font-weight: bold;
            }
            .filterBox{
                align-self: flex-end;
            }
        }
    }
    .mainVisitBox {
        flex-direction: column;
    }

    .visitPieBox {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;
        justify-content: center;
        .mapTitle{
            align-self: flex-start;
        }
    }

    .visitTextBox {
        width: 100%;
        padding: 12px;
        height: 200px;
    }

    .visitPieChart {
        width: 100% !important;
        height: auto !important;
    }

    .rightColBox {
        width: 100%;
    }

    .totalTextBox {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        font-size: 16px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .spinner {
        height: 600px;
    }
}
