.mainVisitBox {
    flex-direction: row;
    align-items: center;
}

.visitPieBox {
    width: 55%;
    /* border-right: 1px solid gray; */
}

.visitTextBox {
    width: 100%;
    border-top: 1px solid gray;
    padding: 24px;
    /* border-radius: 8px 8px 0 0; */
    height: 300px;
    overflow-y: scroll;

}

.rightColBox{
    padding-top: 16px;
    width: 30%;
    height: 100%;
    /* border-right: 1px solid gray;
    border-left: 1px solid gray; */
    padding: 16px;
}

.totalTextBox {
    display: flex;
    justify-content: space-between;
    padding: 24px;
    font-size: 1.5vw;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    /* border-radius: 0 0 8px 8px; */
    /* background-color: rgb(0, 255, 167); */
    color: black !important;
    font-weight: bold;
}

@media only screen and (max-width: 767px) {

    .mainVisitBox {
        flex-direction: column;
    }

    .visitPieBox {
        width: 100%;
    }

    .visitTextBox {
        width: 100%;
        padding: 12px;
        height: 200px;
    }

    .visitPieChart {
        width: 100% !important;
        height: auto !important;
    }

    .rightColBox{
        width: 80%;
    }

    .totalTextBox {
        display: flex;
        justify-content: space-between;
        padding: 12px;
        font-size: 16px;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
        /* border-radius: 0 0 8px 8px */
    }


}