
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.ant-form-item-control-input-content span {
    color: black !important;
}

.align-justify{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.gesund_img {
    width: 100%;
    padding: 12px;
}

.ant-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 24px;
    height: 64px;
    background-color: #fff;
}

.logbtn {
    background-color: transparent;
    border: none;   
}

.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 4%;   
}

.avatar_img {
    border-radius: 100%;
    padding: 10px 10px;
    width: 55px;
    height: 55px;
}

.logbtn {
    background-color: transparent;
    border: none;
    display: none;
}

.general_bar {
    max-width: 408px;
    margin: auto;
}

.logo {
    margin-bottom: 26px; 
    width: 100%;
}

.select_btn {
    float: right;
    width: 15%;
    color: rgb(0, 0, 0);
}

.bar_char{
    margin-bottom: 32px;
}

.chart_gen {
    display: flex;
    flex-direction: row;
}

.chart_chi {
    width: 50%;
    display: flex;
}

::selection {
    background: rgba(0, 255, 167);
}

.pie_char {
    width: 85% !important;
    height: auto !important;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    margin:0 auto;
}

.total { 
    font-size: 32px;
    border: 1px solid gray;    
    padding: 16px;
    border-radius: 8px;
    color: black;
    background-color: rgba(0, 255, 167);
    font-weight: bold;
}

.ant-layout-sider {
    background-color: #8e0c84;
}

label.ant-form-item-required {
    color: gray !important;
}

div.ant-card-body input {
    color: black !important;
}

.ant-layout {
    background-color: #f2f2f2;
}

span.ant-typography {
    display: none;
}

.ant-layout-sider-zero-width-trigger {
    background-color: #8e0c84;
}

.ant-layout-sider-zero-width-trigger:hover {
    background-color: rgba(0, 255, 167) !important;
}

.ant-layout-header.ant-head {
    text-align: right;
}

.ant-space-item {
    color: black;
}

.ant-menu-title-content a::before:hover {
    background-color: rgba(0, 255, 167);
}

.ant-card {
    background-color: #f2f2f2 !important;
    color: black;
}

.ant-card-head-title {
    color: black !important;
}

.ant-btn {
    background-color: rgba(0, 255, 167);
    border-color: rgba(0, 255, 167);
    color: black;
}

.head-items {
    padding: 10px 10px;
}

.header.ant-layout-header.ant-head {
    padding: 0 24px !important;
}

.anticon.anticon-download {
    color: black;
}

.ant-btn::before {
    background-color: rgba(0, 255, 167);
}

.ant-btn::after {
    background-color: rgba(0, 255, 167);
}

.ant-checkbox-wrapper {
    color: black !important;
}

.ant-form.ant-form-vertical.ant-form-hide-required-mark a {
    color: black !important;
}

.ant-btn.ant-btn-primary.ant-btn-lg.ant-btn-block {
    background-color: rgba(0, 255, 167);
}

span.ant-btn.ant-btn-primary.ant-btn-lg.ant-btn-block {
    color: black !important;
}

.ant-menu-title-content:hover {
    background-color: rgba(0, 255, 167);
}

.ant-menu {
    background-color: transparent !important;
}

.ant-menu-item {
    color:white;
    font-weight: bold;
    text-shadow: none;
}

.ant-menu-item.ant-menu-item-selected:hover {
    background-color: rgba(0, 255, 167) !important;
}

.ant-select-show-arrow:hover {
    border-color: rgba(0, 255, 167);
}

.select_btn:hover {
    border-color: rgba(0, 255, 167);
}

.ant-menu-item:hover {
    background-color: rgba(0, 255, 167);
}

.ant-typography.ant-typography-ellipsis.ant-typography-single-line.ant-typography-ellipsis-single-line {
    color: black;
}

.ReactQueryDevtools:hover {
    background-color: rgba(0, 255, 167);
}

.ReactQueryDevtools.ReactQueryDevtoolsPanel {
    scrollbar-color: rgba(0, 255, 167);
}

.list {
    list-style-type: none;
    display: inline;
    width:fit-content;
    margin:0 auto;
}

@media only screen and (max-width: 767px) {

    .total { 
        font-size: 12px;
        border: 1px solid gray;    
        padding: 16px;
        border-radius: 8px;
    }   

    .gesund_img {
        width: 100%;
        padding: 6px;
    }

    .select_btn {
        float: right;
        width: 45%;
    }

    .chart_gen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .chart_chi {
        width: 75%;
        display: flex;
    }

    .pie_char {
        width: 100% !important;
        height: auto !important;
    }
}



