.align-justify{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bar_char{
    margin-bottom: 32px;
}


.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 4%;
}

.avatar_img {
    border-radius: 100%;
    padding: 5px;
}

.logbtn {
    background-color: transparent;
    border: none;
}

.general_bar {
    max-width: 408px;
    margin: auto;
}

.logo {
    margin-bottom: 26px; 
    width: 100%;
}


.gesund_img {
    width: 100%;
    padding: 12px;
    /* margin-left: 8px;
    margin-top: 8px; */
}

.chart_gen {
    display: flex;
    flex-direction: row;
}

.chart_chi {
    width: 50%;
    display: flex;
}

.top {
    display: flex;
    align-items: center;
    justify-content: center;
    width:fit-content;
    margin:0 auto;

    }

.select_btn {
    float: right;
    width: 15%;
}

.select_btn:hover {
    border-color: rgba(0,255,167,255);
}

.pie_char {
    width: 85% !important;
    height: auto !important;
}

.total { 
    font-size: 32px;
    border: 1px solid gray;    
    padding: 16px;
    border-radius: 8px;
    background-color: rgba(0, 255, 167);
    font-weight: bold;
}

.list {
    list-style-type: none;
    display: inline;
    width:fit-content;
    margin:0 auto;
}


@media only screen and (max-width: 767px) {
    .total { 
        font-size: 12px;
        border: 1px solid gray;    
        padding: 16px;
        border-radius: 8px;
    }   

    .gesund_img {
        width: 100%;
        padding: 6px;
    }

    .select_btn {
        float: right;
        width: 35%;
    }

    .chart_gen {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .chart_chi {
        width: 75%;
        display: flex;
    }

    .pie_char {
        width: 100% !important;
        height: auto !important;
    }


}

